#catagories {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    height: 100;
}

.taskIconCataDiv{
    height: 60;
}

.cataButton {
    width: 50;
    height: 50;
}

.taskImage {
    width: 50;
    height: 50;
}

#userInputDiv {
    display: flex;
    justify-content: center;
}

#taskIcon {
    position: relative;
    left: -240;
}

#user_Input {
    position: relative;
    left: 60;
}

#addTaskButton {
    position: relative;
    left: 65;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#inputBox {
    width: 300;
    height: 100;
    background-color: yellow;
    margin: 10;
    text-align: center;
    
}

.taskBox {
    display: flex;
    justify-content: space-around;
    margin: 10;
}

.doneButton {
    position: relative;
    width: 75;
    height: 25;
    top: 35;
}

#inBoxIcon {
    position: relative;
    top: 30;
}

#bodystyle {

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

