#catagories {
    display: flex;
    height: 100;
}

.taskIconCataDiv{
    border-radius: 0.5rem;
    height: 60;
    background-color: rgb(172, 115, 42);
}

.cataButton {
    width: 50;
    height: 50;
}

.taskImage {
    border-radius: 0.5rem;
    width: 50;
    height: 50;
}

#userInputDiv {
    border-radius: 0.5rem;
    display: flex;
}

#taskIcon {
    position: relative;
    left: -240;
}

#user_Input {
    position: relative;
    border-radius: 1rem;
    left: 60;
}

#addTaskButton {
    position: relative;
    border-radius: 1rem;
    left: 65;
}

#container {
  display: flex;
  flex-direction: column;
}

#inputBox {
    border-radius: 0.5rem;
    width: 250;
    height: 50;
    background-color: rgb(116, 83, 21);
    margin: 10;
    text-align: center;
    
}

.taskBox {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 10;
}

.doneButton {
    border-radius: 0.5rem;
    position: relative;
    width: 75;
    height: 25;
    top: 25;
}

#inBoxIcon {
    position: relative;
    top: 12;
}
/*
#bodystyle {
	background: linear-gradient(-45deg, #48cee6, #10b4d1, #358dad, #290f85);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh; 
}
*/

#bodystyle {
 background-image: url("/images/DeskBackGroundSoftLight.jpg");
 background-size:cover;
}

#numOfTask {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font: 200;
    font-size: xx-large;
}

.outof {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

/*
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
